html {
  font-size: 36px;
  font-family: 'Tangerine', cursive;
  background-color: #00539F
}
h1 {
  font-size: 54px;
  text-align: center;
  margin: 0;
  padding: 2px 0;
  color: blue;
  text-shadow: 5px 5px 3px black;
  text-decoration: underlined;
}
p, li {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 1px;
}
body {
  width: 1215px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 10px 15px 10px;
  border: 4px solid black;
}
img {
  display: center;
  margin: 0 auto;
}



